<script setup>
import { Head, Link } from '@inertiajs/vue3'

const props = defineProps({
    links: {
        type: Object,
        required: true,
    },
})
</script>

<template>
    <Head title="Google Oauth" />

    <v-container>
        <Link :href="route('index')">На главную</Link>
        <v-row justify="center">

            <v-col cols="12" sm="10" md="10">
                <v-card>
                    <v-card-title class="headline">
                        Ссылки на Google таблицы
                    </v-card-title>
                    <v-table>
                        <thead>
                            <tr>
                                <th class="text-left">Дата создания</th>
                                <th class="text-left">URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(link, index) in links.data" :key="index">
                                <tr>
                                    <td>{{ link.created_at }}</td>
                                    <td><a :href="link.url" target="_blank">{{ link.url }}</a></td>
                                </tr>
                            </template>
                        </tbody>
                    </v-table>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
