<script setup>
import { Head, Link } from '@inertiajs/vue3'

defineProps({
    message: {
        type: String,
        required: true,
    },
})
</script>

<template>
    <Head title="Google Oauth" />

    <v-container>
        <Link :href="route('index')">На главную</Link>
        <v-row justify="center">
            <v-col cols="12" sm="8" md="6">
                <v-card>
                    <v-card-title class="headline">
                        Авторизация в Google
                    </v-card-title>
                    <div class="py-12">
                        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                            {{ message }}
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
