<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'

defineProps({ errors: Object })

const form = useForm({
    firstName: null,
    lastName: null,
    phoneNumber: null,
    requestText: null,
})
</script>

<template>
    <Head title="Welcome" />
    <v-container>
        <Link :href="route('link.list')">К ссылкам</Link>
        <v-row justify="center">
            <v-col cols="12" sm="8" md="6">
                <v-card>
                    <v-card-title class="headline">
                        Заявка
                    </v-card-title>
                    <v-card-text>
                        <v-form @submit.prevent="form.post(route('form.submit'))">
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field v-model="form.firstName" label="Имя"
                                        :error-messages="form.errors.firstName ? [form.errors.firstName] : null">
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="form.lastName" label="Фамилия"
                                        :error-messages="form.errors.lastName ? [form.errors.lastName] : null"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="form.phoneNumber" label="Телефонный номер"
                                        :error-messages="form.errors.phoneNumber ? [form.errors.phoneNumber] : null">
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea v-model="form.requestText" label="Текст заявки"
                                        :error-messages="form.errors.requestText ? [form.errors.requestText] : null">
                                    </v-textarea>
                                </v-col>
                                <v-col cols="12">
                                    <v-btn type="submit" :disabled="form.processing" color="primary">
                                        Отправить заявку
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
